@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.84);
    color: white;
    margin: 0;
    padding: 0;
}


    #cervejas {
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        width: 90px;
        height: 60px;
        left: 650px;
        top: 170px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    #menu {
        position: absolute;
        width: 100%;
        height: 107px;
        left: 0px;
        top: 0px;
        background: #CA7900;
        
    }

        #menu ul {
            display: flex;
            flex-direction: row;
            
            
        }

        #menu li {
            width: 80%;
            height: 70px;
            top: 32px;
            list-style: none;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 23px;
            line-height: 42px;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 0 20px;
            
            
        }

        .hoverMenu {cursor: pointer;
            
        }

        .hoverMenu:hover {
            width: 780px !important;
            background-color: #865100;
            border-radius: 30px;
            
        }

        li#mCarrinho {
            position: relative;
            left: 0px;
            top: -12px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 42px;
            display: flex;
            align-items: center;
            text-align: center;
            
        }

        .material-symbols-outlined {
            margin-left: 30px ;
            
            
        }



    #orangeBox {
        position: absolute;
        width: 800px;
        height: 157px;
        left: 300px;
        top: 200px;
        background: #CA7900;
        border-radius: 40px;
        
        }

        #pDrinkChoice {
            position: absolute;
            width: 650px;
            height: 84px;
            left: 100px;
            top: 20px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 42px;
            display: flex;
            align-items: center;
            text-align: center;
            
            }

    #drinks2 {
        position: absolute;
        display: flex;
        align-items: center;
        left: 80px;
        margin-top: 50px;
        margin-bottom: 20px;
        
    }

        #vinho{
            position: absolute;
            width: 160px;
            height: 200px;
            left: 280px;
            top: 230px;
            cursor: pointer;
            
        }

        #pVinho {
            position: absolute;
            width: 533px;
            height: 56px;
            left: 330px;
            top: 385px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #F5F5F5;
            
        }

        #cerveja{
            position: absolute;
            width: 90px;
            height: 160px;
            left: 580px;
            top: 250px;
            cursor: pointer;
            
        }

        #pCerveja {
            position: absolute;
            width: 533px;
            height: 56px;
            left: 570px;
            top: 385px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #F5F5F5;
            
        }

            #refri{
                position: absolute;
                width: 85px;
                height: 150px;
                left: 880px;
                top: 270px;
                cursor: pointer;
                
            }

            #pRefri {
                position: absolute;
                width: 233px;
                height: 56px;
                left: 850px;
                top: 385px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #F5F5F5;

            }

            #buttonPurchase1 {
                box-sizing: border-box;
                position: absolute;
                width: 140px;
                height: 40px;
                left: 290px;
                top:450px;
                background: #CA7900;
                border: 6px solid #F5F5F5;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 14px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 23px;
                color: #FFFFFF;
                cursor: pointer;
                }
        
                #buttonPurchase1:hover {
                    background-color: #865100;
                    border: 6px solid #949494;
                    }
            #buttonPurchase2 {
                box-sizing: border-box;
                position: absolute;
                width: 140px;
                height: 40px;
                left: 560px;
                top:450px;
                background: #CA7900;
                border: 6px solid #F5F5F5;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 14px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 23px;
                color: #FFFFFF;
                cursor: pointer;
                        }
                
                #buttonPurchase2:hover {
                    background-color: #865100;
                    border: 6px solid #949494;
                            }

            #buttonPurchase3 {
                box-sizing: border-box;
                position: absolute;
                width: 140px;
                height: 40px;
                left: 850px;
                top:450px;
                background: #CA7900;
                border: 6px solid #F5F5F5;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 14px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 23px;
                color: #FFFFFF;
                cursor: pointer;
        }

                #buttonPurchase3:hover {
                    background-color: #865100;
                    border: 6px solid #949494;
                }

@media only screen and (min-width: 320px) and (max-width: 480px) {
        body {
                width: 320px;
                height: 480x;
                margin: 0;
                padding: 0;
            }

            #menu {
                width: 400px;
                height: 70px;
                        
                    }
                #menu li {
                    width: 30%;
                    height: 70px;
                    top: -20px;
                    font-size: 12px;
                    line-height: 12px;
                    margin-top: -20px;
                    margin-left: -40px;   
                    }     
                    li#mCarrinho {
                        left: 0px;
                        top: 1px;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 22px;
                    }
            
                    .material-symbols-outlined {
                        margin-left: 0px ;
                        font-size: 30px !important;
                    }
            #cervejas {
                text-align: center;
                width: 70px;
                height: 40px;
                left: 180px;
                top: 90px;
                    }
            
            #orangeBox {
                width: 300px;
                height: 180px;
                left: 50px;
                top: 110px;
                    }

            #pDrinkChoice {
                width: 190px;
                height: 53px;
                left: 50px;
                top: 50px;
                font-weight: 400;
                font-size: 12px;
                line-height: 33px;
                    }

            #vinho {
                width: 100px;
                height: 120px;
                left: -30px;
                top: 190px; 
            }
                #pVinho {
                    width: 100px;
                    height: 56px;
                    left: -30px;
                    top: 270px;
                    font-size: 12px;
                    line-height: 14px;  
                }
            
                #cerveja {
                    width: 50px;
                    height: 90px;
                    left: 90px;
                    top: 205px; 
                }
                    #pCerveja {
                        width: 100px;
                        height: 56px;
                        left: 70px;
                        top: 270px;
                        font-size: 12px;
                        line-height: 14px; 
 
                    }
            
                    #refri {
                        width: 50px;
                        height: 90px;
                        left: 200px;
                        top: 210px; 
                    }
                        #pRefri {
                            width: 100px;
                            height: 56px;
                            left: 170px;
                            top: 270px;
                            font-size: 12px;
                            line-height: 14px;  
                        }
                        #buttonPurchase1 {
                            width: 80px;
                            height: 30px;
                            left: -20px;
                            top: 330px;
                            border: 2px solid #F5F5F5;
                            font-weight: 700;
                            font-size: 10px;
                            line-height: 23px;
                        }
                        #buttonPurchase2 {
                            width: 80px;
                            height: 30px;
                            left: 80px;
                            top: 330px;
                            border: 2px solid #F5F5F5;
                            font-weight: 700;
                            font-size: 10px;
                            line-height: 23px;
                        }

                        #buttonPurchase3 {
                            width: 80px;
                            height: 30px;
                            left: 185px;
                            top: 330px;
                            border: 2px solid #F5F5F5;
                            font-weight: 700;
                            font-size: 10px;
                            line-height: 23px;
            
            
            }
            
        }


